@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);

html, body {
  height: 100%;
  overflow: hidden;
  outline: none;
}
body {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 23px;
  line-height: 1.5em;
  background-color: #F2EEF1;


}
.login {
  position: absolute;
  margin: 0 auto;
  top: 40%;
  left: 50%;
  width: 500;
  height: 450px;
  transform: translate(-50%, -50%);}

.login h1 {
  position: relative;
  margin-top: 20px;
  margin-bottom: 40px;
  color: #f0f5fa;
  text-align: center;
}
.login h1 span {
  color: #F28705;
}
.login form {
  height: 100%;
  padding: 27px;
  padding-bottom: 40px;
  background-color: #F20574;



}
.login form input, .login form button {
  width: 100%;
    margin-bottom: 32px;
    border: none;
    outline: none;
    padding: 10px;
    background-color: #f8f8f2;
    color: #F28705;
    font-size: 20px;
    line-height: 2.0em;
    border-radius: 4px;
  transition: all 0.5s ease;
}
.login form input::placeholder, .login form button::placeholder {
  color: #F28705;
}
.login form input:focus, .login form button:focus {
  background-color: #f8f8f2;
}
.login form button[type="submit"] {
  text-transform: uppercase;
  font-weight: 700;
  background-color: #93A603;
  color: #f0f5fa;
  cursor: pointer;
  transition: all 0.5s ease;
}
.login form button[type="submit"]:hover {
  background-color: #F28705;
  color: #f0f5fa;
}
.morestuff {
  margin-top: 20px;
  text-align: center;
  font-size: 20px;
}
.morestuff a {
  transition: color 0.5s ease;
}
.morestuff a:link {
  color: #84bc44;
}
.morestuff a:hover {
  color: #F28705;
}
.morestuff a:visited {
  color: #F28705;
}
